.bodybg{
    -fx-background-image: url("/edu_fun/download_congrats.png");
}
.bodybg1{
    -fx-background-image: url("/edu_fun/images__fonded.png");
}

.bodybgstar{
    -fx-background-image: url("/edu_fun/images_Stars.jpg");
}

.planet{
    -fx-background-image: url("/edu_fun/planets.jpg");
}

.blackstars{
    -fx-background-image: url("/edu_fun/download_black_stars.jpg");
}

.blue{
    -fx-background-image: url("/picture/062917_sayingno_hero.jpg");
}