.fn-14 {
    -fx-font-size: 14px;
}
.fn-16 {
    -fx-font-size: 16px;
}
.fn-18 {
    -fx-font-size: 18px;
}
.fn-24 {
    -fx-font-size: 24px;
}
.fn-35 {
    -fx-font-size: 32px;
}
.fn-40 {
    -fx-font-size: 40px;
}
.fn-64 {
    -fx-font-size: 64px;
}
.text-center {
    -fx-text-alignment: center;
}
.text-justify {
    -fx-text-alignment: justify;
}
.text-left {
    -fx-text-alignment: left;
}
.text-right {
    -fx-text-alignment: right;
}
.fill-light-grey {
    -fx-fill: #ececec;
    -fx-text-fill: #ececec;
}
.fill-grey {
    -fx-fill: #9c9c9c;
    -fx-text-fill: #9c9c9c;
}
.fill-dark {
    -fx-fill: #4f5d55;
    -fx-text-fill: #4f5d55;
}
.fill-white {
     -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}
.back-white {
    -fx-background-color: #ffffff;
}
.hover-hand {
    -fx-cursor: hand;
}
.text-font {
    -fx-font-family: "roboto Light";
}